# Copied from ReadTheDocs example repo
# https://github.com/readthedocs/test-builds/blob/full-feature/requirements.txt
# Will adjust as-needed, right now just trying to get RTD building

sphinx-autorun
sphinx-jinja2
sphinx-notfound-page
sphinx-hoverxref
sphinx-tabs
shot-scraper
sphinxawesome-theme
myst-parser
sphinx-tags

sphinx-js
# Pin it because it fails otherwise
# ImportError: cannot import name 'soft_unicode' from 'markupsafe'
markupsafe==2.0.1

git+https://github.com/shawalli/pygments-lexer-apex.git#egg=pygments-lexer-apex